.hero h1{
    max-width: 500px;
    width: 100%;
    font-family: var(--font-family);
font-weight: 700;
font-size: 56px;
line-height: 100%;
letter-spacing: -0.04em;
color: #fff;
margin-bottom: 40px;
}
.hero{
    overflow: hidden;
    position: relative;
    background-image: url("../img/hero.jpg");
    padding: 152px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.hero p{
    margin-left: 95px;
    max-width: 405px;
    width: 100%;
    font-family: var(--second-family);
font-weight: 400;
font-size: 15px;
line-height: 167%;
color: #fff;
margin-bottom: 40px;
}
.hero a{
    margin-left: 95px;
    font-family: var(--font-family);
font-weight: 700;
font-size: 15px;
line-height: 167%;
text-align: center;
color: #fff;
display: flex;
align-items: center;
text-decoration: none;
width: 186px;
height: 53px;
background: #fcb72b;
padding: 0 40px;
border: 3px solid #fcb72b;
}
.hero a:active{
    background-color:transparent;
    color: #fcb72b;
    border: 3px solid #fcb72b;

}
.stick{
    position: absolute;
    left: 0;
    bottom: 290px;
}
.hero__arrow{
    position: absolute;
    bottom: 155px;
    right: 271px;
}
.hero__doira{
    position: absolute;
    bottom: 168px;
    right: 0;
}
@media(max-width:1340px){
    .stick{
        left: 0;
        bottom: 290px;
        width: 160px;
    }
    .hero__arrow{
        bottom: 178px;
        right: 271px;
        width: 375px;
    }
    .hero__doira{
        bottom: 185px;
        right: 0;
    }
}
@media(max-width:1340px){
    .stick{
        left: -25px;
        bottom: 290px;
        width: 130px;
    }
    .hero__arrow{
        bottom: 203px;
        right: 271px;
        width: 290px;
    }
    .hero__doira{
        width: 203px;
        bottom: 185px;
        right: 0;
    }
}
@media(max-width:1100px){
    .hero__arrow {
        bottom: 203px;
        right: 170px;
        width: 290px;
    }
    .hero__doira {
        width: 150px;
        bottom: 203px;
        right: 0;
    }
}
@media(max-width:1000px){
    .stick {
        left: 0px;
        bottom: 290px;
        width: 110px;
    }
    .hero__arrow {
        bottom: 212px;
        right: 130px;
        width: 250px;
    }
    .hero__doira {
        width: 125px;
        bottom: 214px;
        right: 0;
    }
}
@media(max-width:920px){
    .stick{
        display: none;
    }
    .hero__doira{
        width: 234px;
        bottom: 37px;
        right: 0;
    }
    .hero h1{
        margin: 0 auto 40px;
        text-align: center;
    }
    .hero p{
        max-width: 573px;
        margin: 0 auto 40px;
        text-align: center;
    }
    .hero a{
        margin: 0 auto;
    }
    .hero__arrow {
        width: 447px;
        bottom: 37px;
        left: -121px;
    }
}
@media(max-width:600px){
    .hero__arrow {
        width: 330px;
        bottom: 37px;
        left: -113px;
    }
    .hero__doira {
        width: 190px;
        bottom: 37px;
        right: 0;
    }
    .hero h1 {
        max-width: 500px;
    width: 100%;
        margin: 0 auto 30px;
        text-align: center;
        font-size: 40px;
    }
    .hero p {
        max-width: 573px;
        margin: 0 auto 40px;
        text-align: center;
        font-size: 13px;
    }
}
@media(max-width:450px){
    .hero__doira{
        display: none;
    }
    .hero__arrow {
        width: 450px;
        bottom: 37px;
        left: -315px;
    }
    .hero h1 {
        max-width: 311px;
        width: 100%;
        margin: 0 auto 24px;
        text-align: center;
        font-size: 40px;
    }
    .hero p {
        max-width: 311px;
        margin: 0 auto 34px;
        text-align: center;
        font-size: 15px;
    }
    .hero{
        padding: 200px 0 179px;
    }
}