.steps__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: relative;
    z-index: 3;
}
.steps{
    padding: 160px 0 200px;
    overflow: hidden;
}
.steps img {
    margin-bottom: 40px;
}
.steps h3{
    font-family: var(--font-family);
font-weight: 700;
font-size: 24px;
line-height: 117%;
letter-spacing: -0.04em;
color: #495567;
margin-bottom: 24px;
}
.steps p{
    font-family: var(--second-family);
font-weight: 400;
font-size: 15px;
line-height: 167%;
color: #939caa;
}
.stick2{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 972px;
}
@media(max-width:1260px){
    .stick2 {
        left: -138px;
        top: 974px;
    }
}
@media(max-width:1100px){
    .stick2 {
        left: -235px;
        top: 974px;
    }
}
@media(max-width:950px){
    .stick2 {
        left: -335px;
        top: 945px;
    }
}
@media(max-width:900px){
    .stick2 {
        left: -370px;
        top: 945px;
    }
}
@media(max-width:800px){
    .steps__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .stepscard{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .steps p{
        max-width: 400px;
        width: 100%;
        font-weight: 400;
        font-size: 15px;
        line-height: 167%;
    }
    .stick2{
        content: url(../img/stick3.png);
        left: 83px;
        bottom: -411px;
    }
}
@media(max-width:600px){
    .stick2{
        display: none;
    }
    .stepscard{
        gap: 30px;
    }
}
@media(max-width:450px){
    .stepscard{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0;
    }
    .steps img {
        margin-bottom: 24px;
    }
    .steps h3 {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 24px;
    }
    .steps__wrapper{
        gap: 50px;
    }
}